<div class="container">  
  <div class="col-md-8">
    <h1><img src="img/logo.png" alt="logo.png, 23kB" title="Logo" height="150" width="131">Kingfisher industries</h1>
  </div>
  <div class="col-md-4"><!--profile??--></div>  
  <div class="col-md-12">    
    <div class="navbar navbar-default" role="navigation" ng-controller="HeaderCtrl">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" ng-init="navbarCollapsed=true" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" collapse="navbarCollapsed">
          <ul class="nav navbar-nav">
            <li ng-class="{active:isActive('/')}"><a href="#/">Home</a></li>
            <li ng-class="{active:isActive('/page1')}"><a ng-href="#/page1">FAQ</a></li>
            <li ng-class="{active:isActive('/page2')}"><a ng-href="#/page2">Contact us</a></li>
            <li ng-class="{active:isActive('/page4')}"><a ng-href="#/page4">Page 4</a></li>       
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" dropdown-toggle>Cart [0]<span class="caret"></span></a>
                <ul class="dropdown-menu pull-right hcart">
                    <li>
                      <table class="table table-condensed">
                        <tr>
                          <td class="text-center">
                            <a href="product.html">
                              <img class="img-responsive img-thumbnail" src="http://image.eveonline.com/Type/583_32.png" >                              
                            </a>
                          </td>
                          <td class="text-left">
                            <a href="product-full.html">
                              Bantam
                            </a>
                          </td>
                          <td class="text-right">x1</td>
                          <td class="text-right">999.999.999</td>
                          <td class="text-left">ISK</td>
                          <td class="text-center">
                            <a href="#">
                              <span class="glyphicon glyphicon-remove"></span>
                            </a>
                          </td>
                        </tr>
                      </table>
                    </li>
                    <li>
                      <table class="table total">
                          <tr>
                            <td class="text-right"><strong>Total</strong></td>
                            <td class="text-left">15.000.000 ISK</td>
                          </tr>
                      </table>
                      <p class="text-right">
                        <a href="cart.html"  class="btn btn-default" role="button">
                          View Cart
                        </a>
                        <a href="#"  class="btn btn-primary" role="button">
                          Checkout
                        </a>
                      </p>
                    </li>                 
                  </ul>
            </li>
            <li class="dropdown" dropdown on-toggle="toggled(open)" ng-show="showMenu">
              <a href class="dropdown-toggle" dropdown-toggle>Welcome, {{loggedUser}}!<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#myprofile">My profile</a></li>
                <li class="divider"></li>  
                <li><a href="javascript:" ng-click="logout()">Logout</a></li>
              </ul>
            </li>
            <li ng-hide="showMenu" ng-class="{active:isActive('/login')}">
              <a href="#/login">Login</a>
            </li>            
          </ul>
        </div>
      </div>
    </div>
  </div>    
</div>


