<div ng-controller="HomeCtrl">
<!--Navigation-->
  <div class="col-md-3 test">
    <ul class="productmenu">   
      <li ng-repeat="category in categories">
        <a href class="" ng-click="isCollapsed = !isCollapsed">{{category.category}}<span class="caret pull-right"></span></a>
        <ul ng-repeat="subcategory in category.subcategories" class="productmenu-list" collapse="isCollapsed">
          <li><a href ng-click="$parent.$parent.myFilter = {metalevel: subcategory.metalevel, type: subcategory.type}">{{subcategory.subcategory}}</a></li>
        </ul>
      </li>  
    </ul>
  </div>

<!--End navigation-->

<!--Content-->
  <div class="col-md-9">
    <div class="panel panel-default" ng-repeat="product in products | orderBy : id | filter: myFilter">
      <div class="panel-body row">
        <div class="col-md-3">
          <img class="img-thumbnail" width="200px" src="http://image.eveonline.com/Render/{{product.id}}_256.png" >      
        </div> 
        <div class="col-md-9">
          <h4>{{product.name}}</h4>
          <p>{{product.description}}</p>
          <p>{{product.skillbonus}}</p>
          <p>{{product.rolebonus}}</p>
          <form action="" class="">
            <div class="row">
              <div class="col-xs-12 col-sm-6 text-right">
                <h5>{{product.stock}} in stock - {{product.price | number}} ISK</h5>
              </div>
              <div class="col-xs-4 col-sm-2">
                <div class="form-group">
                  <label class="sr-only" for="amount">Amount</label>
                  <input type="number" class="form-control" name="amount" min="1" max="{{product.stock}}" value="1">
                </div> 
              </div> 
              <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-shopping-cart"></span>
                ADD TO CART
              </button>
            </div>
          </form>
        </div> 
      </div>    
    </div>
  </div>
</div>
